
<hr>

<% if I18n.locale == :es %>

  <h5>
    <%= @article.title_es%>
  </h5>
  <p>
    <%= @article.description_es%>
  </p>

  <p>
    <%= render 'shared/like_component', object: @article %>
  </p>

  <p>
    <%= @article.likes.count %>
  </p>

  <h6 style='font-size: 0.8em ; color: rgba(0,0,0,0.8);'>
    <% @article.categories.where(language: 'es').each do |tag| %>
      #<%= tag.name %> 
    <% end %>
  </h6>
  <cite style='font-size: 0.8em ; color: rgba(0,0,0,0.8);'>
    <%= @article.user.email.split('@').first%>
  </cite>
  
  <% if current_user.admin? %>
    <p>
      <%= link_to t(:edit), edit_article_path(@article) %> | 
      <%= link_to t(:delete), @article, method: :delete %>
    </p>
  <% end %>

  <p>
    <%= render 'shared/comment_form', object: @article %>
  </p>

<% elsif I18n.locale == :'pt-BR' %>
  <h5>
    <%= @article.title_pt_br%>
  </h5>
  <p>
    <%= @article.description_pt_br%>
  </p>

  <p>
    <%= render 'shared/like_component', object: @article %>
  </p>

  <p>
    <%= @article.likes.count %>
  </p>


  <h6 style='font-size: 0.8em ; color: rgba(0,0,0,0.8);'>
    <% @article.categories.where(language: 'pt-BR').each do |tag| %>
      #<%= tag.name %> 
    <% end %>
  </h6>
  <cite style='font-size: 0.8em ; color: rgba(0,0,0,0.8);'>
    <%= @article.user.email.split('@').first%>
  </cite>
  <% if current_user.admin? %>
    <p>
      <%= link_to t(:edit), edit_article_path(@article) %> | 
      <%= link_to t(:delete), @article, method: :delete %>
    </p>
  <% end %>

  <p>
    <%= render 'shared/comment_form', object: @article %>
  </p>
<% end %>

<%= render partial: 'shared/comments_list' %>
