<h4><%= t(:users_list) %>:</h4>


<% if current_user.admin? %>
  <% @users.each do |user| %>
    <p>
      <%= user.email %> | 
      <%= link_to t(:manage), user, id: "manage-link-#{user.id}" %>
    </p>
  <% end %>
<% end %>




<%= render partial: 'shared/add_friends' %>

<p><%= t(:friends) %>:</p>

<ul>
  <% current_user.friends.each do |friend| %>
    <li><%= friend.email %></li>
  <% end %>
</ul>
