<p>
  <%= @user.email %>
  
  <% if  @user.admin?%>
    (Admin)
  <% end %>

  <% if  @user.ban?%>
    (<%= t(:banned).capitalize%>)
  <% end %>
   
</p>



<%= form_with(model: @user, url: toggle_admin_path , local: true) do |form| %>

  <%= form.label :admin, t('.admin') %>:

  <%= form.hidden_field :id, value: @user.id %>

  <div class="custom-control custom-switch">
    <%= form.check_box :admin, class: "custom-control-input", id: "customSwitch_admin_toggle"   %>
    <label class="custom-control-label" for="customSwitch_admin_toggle"></label>
  </div>

  <div class="btn">
    <%= form.button :submit , id: 'btn_send_toggle_admin', style: 'display: none;' do %>
      botao
    <% end %>
  </div>
<% end %>

<%= form_with(model: @user, url: toggle_ban_path , local: true) do |form| %>

  <%= form.label :ban, t('.ban') %>:

  <%= form.hidden_field :id, value: @user.id %>

  <div class="custom-control custom-switch">
    <%= form.check_box :ban, class: "custom-control-input", id: "customSwitch_ban_toggle"   %>
    <label class="custom-control-label" for="customSwitch_ban_toggle"></label>
  </div>

  <div class="btn">
    <%= form.button :submit , id: 'btn_send_toggle_ban', style: 'display: none;' do %>
      botao
    <% end %>
  </div>
<% end %>

<%= javascript_pack_tag 'toggles', 'data-turbolinks-track': 'reload' %>

<%= link_to t(:back), :back %> |