<% if user_signed_in? %>

  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Info System</h4>
        <%= render partial: 'shared/change_locale' %>
        <p>
          <p class="text-white">
            <%= current_user.email %>
            <% if current_user.admin? %>
              (Admin)
            <% end %>
          </p>
          <%= link_to t(:users), users_path %> |
          <% if current_user.admin? %>
            <%= link_to t(:comments), comments_path %> |
            <%= link_to t(:tags), categories_path %> |
          <% end %>
          
          <%= link_to t(:logout), destroy_user_session_path, method: :delete %>

        </p>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
        <%= link_to t(:articles), articles_path %> |
        <%= link_to t(:videos), videos_path %> 

        <%= render partial: 'shared/search' %>

    </nav>
  </div>

  
  
  




<% else %>


  <%= render partial: 'shared/change_locale' %> |
  <%= link_to t(:login), new_user_session_path %> | 
  <%= link_to t(:signup), new_user_registration_path %>



<% end %>


