<h1>Info System</h1>

<p>
  
  <% if user_signed_in? %>
    <%= current_user.email %>
    <% if current_user.admin? %>
      (Admin)
    <% end %>
     | <%= link_to t(:users), users_path %> |
     <%= link_to t(:articles), articles_path %> |
    <%= link_to t(:logout), destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to t(:login), new_user_session_path %> | 
    <%= link_to t(:signup), new_user_registration_path %>
  <% end %>
  
</p>